@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);

.oitem__card {
    font-family: "Raleway";
    display: flex;
    width: 650px;
    height: 375px;
    position: absolute;
    background: white;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;
}

.oitem__card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.oitem__photo {
    padding: 30px;
    width: 30%;
    text-align: center;
    float: left;
}

img { 
    max-height: 200px; 
  }

.oitem__description {
    padding: 50px;
    float: left;
    width: 55%;
    border-left: 2px solid #efefef;
    margin-left: 2rem;
}


.oitem__description h1 {
    color: #515151;
    font-weight: 300;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 2.5rem;
}

.oitem__description h2 {
    color: #515151;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
}

.oitem__description p { 
    font-size: 12px; 
    line-height: 20px;
    color: #727272;
    padding: 20px 0;
 }

 .oitem__description button {
    outline: 0;
    border: 0;
    background: none;
    border: 1px solid #d9d9d9;
    padding: 8px 0px;
    margin-bottom: 30px;
    color: #515151;
    text-transform: uppercase;
    width: 125px;
    font-family: inherit;
    margin-right: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
 }

 .oitem__description button:hover {
    border: 1px solid #1abc9c;
    cursor: pointer;
 }

 .oitem__photo button {
    outline: 0;
    border: 0;
    background: none;
    border: 1px solid #d9d9d9;
    padding: 8px 0px;
    margin-bottom: 30px;
    color: #515151;
    text-transform: uppercase;
    width: 125px;
    font-family: inherit;
    margin-right: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
 }

 .oitem__photo button:hover {
    border: 1px solid #bc1a1a;
    cursor: pointer;
 }

 .modify {
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
 }

 .oitem__photo a {
    text-decoration: none;
    outline: 0;
    border: 0;
    background: none;
    border: 1px solid #d9d9d9;
    padding: 15px;
    font-size: 14px;
    color: #515151;
    text-transform: uppercase;
    font-family: inherit;
    margin-right: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
 }

 .oitem__photo a:hover {
    border: 1px solid #eb12ff;
    cursor: pointer;
 }

 @media screen and (max-width: 576px) {

   .oitem__card {
      width: 350px;
   }

   .oitem__photo {
      width: 75px;
   }

   .oitem__description {  
      margin: auto;
      width: 120px;
   }

   .oitem__description h2 {
      font-size: 17px;
   }

   .oitem__description h1 {
      font-size: 20px;
   }

   .oitem__photo button {
      font-size: 10px;
      width: 80px;
   }

   .oitem__photo a {
      font-size: 10px;
      padding: 20px;
   }

 }
