.nav__container {
    margin: auto;
    display: flex;
    height: 50px;
    background: #1abc9c;
    line-height: 50px;
}

.nav__content-right {
    margin-left: auto;
    justify-content: flex-end;
}

.nav__content-right a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

.nav__content-right a:hover {
    color:black;
}

.nav__content-right i {
    margin-right: 2px;
}

/*BREAKING POINTS */
@media screen and (max-width: 576px) {

    .nav__container {
        width: 100%;
    }

    .nav__content-right {
        margin: auto;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {

}