.nav__container {
    width: 100%;
    height: 50px;
    background: #1abc9c;
    margin: auto;
    line-height: 50px;
}

.nav__content-right {
    display: flex;
    margin-right: 15rem;
    float: right;
    gap: 20px;
}

.nav__content-right a {
    color: #fff;
    text-decoration: none;
    margin: auto;
}

.nav__content-right a:hover {
    color:black;
}

.nav__content-right i {
    margin-right: 2px;
}